//site settings
//colors
$color-primary 			: #1ea094;
$color-secondary 		: #ad1724;
$color-link 			: #fff;

//font weights
$extra-light			: 100;
$light					: 300;
$book					: 400;
$bold					: 700;

//font families
$font-primary 			: Arial, Helvetica, sans-serif;
$font-secondary			: 'Muli', sans-serif;

//font sizes
$mini-size				: 0.8rem;
$small-size				: 1.0rem;
$base-size				: 1.3rem;
$header-size			: 2.4rem;
$header2-size			: 1.6rem;
$line-height			: 1.618em;